<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="form-group"  th:fragment="classChoice">
        <select class="w-100 form-control" id="class" name="class"
                onchange="this.form.submit()">
            <option disabled selected>Select Class</option>
            <option th:each="classChoice : ${classSelection.classes}"
                    th:value="${classChoice.name}"
                    th:text="${classChoice.name}"
                    th:selected="${classChoice.name == #request.getParameter('class')}"></option>
        </select>
    </div>
</body>
</html>