<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="form-group"  th:fragment="classChoice">
        <select class="w-100 form-control" th:object="${classSelection}" name="class"
                onchange="this.form.submit()">
            <option disabled th:if="${#request.getParameter('class') == null}" selected>Select Class</option>
            <option th:if="${#request.getParameter('class') != null}" th:text="${#request.getParameter('class')}" selected></option>
            <option th:if="${#request.getParameter('class') != classChoice.name}" class="text-capitalize" th:each="classChoice : *{classes}"
                    th:value="${classChoice.name}"
                    th:text="${classChoice.name}"></option>
        </select>
    </div>
</body>
</html>