<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="form-group" th:fragment="raceChoice">
        <select class="w-100 form-control" id="race" name="race"
                onchange="this.form.submit()">
            <option disabled selected>Select Race</option>
            <option th:each="raceChoice : ${raceSelection.races}"
                    th:value="${raceChoice.name}"
                    th:text="${raceChoice.name}"
                    th:selected="${raceChoice.name == #request.getParameter('race')}"></option>
        </select>
    </div>
</body>
</html>